<html>
	<head>
		<!-- <meta http-equiv="refresh" content="600"> -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.0.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<meta name="viewport" content="width=device-width">
	</head>
	<body class='display'>
		<a href="{{ url_for('mainpage') }}" class='backtomain'>Back to main</a>
		<div class="container">
			<div id='feedsdiv'>
				{% for feed in feedlist %}
				<div class='row'>
					<h3 class='text-center'><b>{{ feed.title }}</b></h3>
						<div class='image'><img src="{{ feed.imageurl }}" alt='No picture available'></div>
						<div class='description'>{{ feed.description }}...<a href="{{ feed.url }}">See more</a></div>	
				</div>
				{% endfor %}
			</div>
			<div class="row footer text-center">
				<button class='prev' style="visibility: hidden">&larr; PREVIOUS</button>
				Page <span id="pageno">1</span>
				<button class='next'>NEXT &rarr;</button>
				<a href="{{ url_for('newsjson') }}" class='text-center json'>(View JSON)</a>
			</div>
		</div>
	</body>
</html>